.toDo {
    display: inline;
}

.toDoRadioBtn {
    display: inline;
}

.container {
    display: grid;
    place-content: center;
}

.createToDo {
    margin-top: 1rem;
}

.renderToDo {
    padding: .5rem;
}